button {margin:4px;}

/* ===============================================*/
/* qTip2 Overrides */
/* ===============================================*/

.ui-tooltip, .qtip{
	font-size: 11px;
	font-weight:bold;
}

.tooltip-help {font-weight:normal;font-size:13px;line-height:17px;text-align:left;}

/* ===============================================*/
/* Regular Buttons */
/* ===============================================*/

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

button.app {
	background: #f5f6f7;
	border: 1px solid #d2d0d0;
	color: #505151;	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size:13px;
	font-weight:bold;
	font-family: Arial;
	height:30px;	
	display:inline;
	text-align:right;
	background-repeat:no-repeat;
}

button.app:hover{
	background-repeat:no-repeat;
	border: 1px solid #b1b1b1;
	box-shadow: 0px 2px 1px #dbdbdb;
}

button.app:active{
	background: #fff;
	background-repeat:no-repeat;
	position:relative;
	top:1px;
	left:1px;
	box-shadow: 0px 0px 1px #dbdbdb;
}

button.add, button.add:hover{
	background-image:url('button_images/button_20x20_plus.png');
	background-position: 7px 5px;
	padding-right:10px;
	width: 75px;
}

button.delete, button.delete:hover{
	background-image:url('button_images/button_20x20_trash.png');
	background-position: 27px 4px;	
	width: 75px;
}

button.edit, button.edit:hover{
	background-image:url('button_images/button_20x20_pencil.png');
	background-position: 27px 5px;
	width: 75px;
}

button.yes, button.yes:hover{
	background-image:url('button_images/button_20x20_check.png');
	background-position: 7px 5px;
	padding-right:8px;
	width: 70px;
}

button.no, button.no:hover{
	background-image:url('button_images/button_20x20_cross.png');
	background-position: 7px 5px;
	padding-right:8px;
	width: 65px;
}

/* ===============================================*/
/* Large Buttons */
/* ===============================================*/

button.large {
	background: #f5f6f7;
	border: 1px solid #d2d0d0;
	color: #505151;	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size:18px;
	font-weight:bold;
	font-family: Arial;
	height:40px;
	width:90px;	
	display:inline;
	text-align:right;
	background-repeat:no-repeat;
	padding-right:12px;
}

button.large:hover{
	background-repeat:no-repeat;
	border: 1px solid #b1b1b1;
	box-shadow: 0px 2px 1px #dbdbdb;
}

button.large:active{
	background: #fff;
	background-repeat:no-repeat;
	position:relative;
	top:1px;
	left:1px;
	box-shadow: 0px 0px 1px #dbdbdb;
}

button.yes_large, button.yes_large:hover{
	background-image:url('button_images/button_27x27_check.png');
	background-position: 7px 5px;
	padding-right:8px;
	width: 87px;
}

button.no_large, button.no_large:hover{
	background-image:url('button_images/button_27x27_cross.png');
	background-position: 7px 5px;
	padding-right:8px;
	width: 75px;
}
